.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
}

.ppl {
    color: white;
}

.ppl img{
    width: 48px;
}

.ppl  .active    {
    color: gold;
}

.person {

}

.chat {

}

.message {

}