.nav {
    width: 200px;
    background-color: #B5CDA3;
    grid-area: n;
    padding-top: 10px;
    text-align: center;
    color: white
}

.item {
    padding-bottom: 2px;
}

.item a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
}

.item a.activeLink {
    color: gold
}

.list {
    display: flex;
}

.friend {
    width: 25%;
    padding: 8px;
}

.friend img{
    width: 100%;
}